.paper-squared {
    background-image: url('../../../public/assets/svg/paper-types/paper-squared.svg'); 
    background-repeat: repeat;
    background-size: 20px 20px;
    background-color: white;
  }
.paper-ruled {
  background-image: url('../../../public/assets/svg/paper-types/paper-ruled.svg');
  background-repeat: repeat; /* Повторяем и по ширине, и по высоте */
  background-size: 20px 20px; /* Повтор каждые 20px по ширине и высоте */
  background-color: white;
}

.handwritten-opened-upper-panel{
  background-color: rgb(244, 250, 255);
}

.handwritten-drawing-panel{
  background-color: rgb(240, 240, 240);
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.handwritten-drawing-panel button{
  width: 40px;
  height: 40px;
}

.tldraw__editor [data-panel='top'] {
  pointer-events: auto;
  z-index: 9999;
}